body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("./background.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* body {
    background: url ('./background.jpg') no repeat;
    background-size: cover;
} */

.login {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    border-radius: 10px;
}

.login h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
    border-bottom: 1px solid silver;
}

.login form{
    padding: 0 40px;
    box-sizing: border-box;

}

form .txt_field{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 30px;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
